<div class="container">
    <div class="main">
        <div class="menu">
            <button (click)="desplegarMenu()">
                <mat-icon>menu</mat-icon>
            </button>
            <br>
            <div *ngIf="menuDesplegado == true" class="opciones">
                <div class="vivienda" (click)='cambiarVista("Viviendas")'>
                    <div>
                        <mat-icon>star</mat-icon>
                    </div>
                    <p>Viviendas</p>
                </div>
                <div class="planes" (click)='cambiarVista("Planes")'>
                    <div>
                        <mat-icon>star</mat-icon>
                    </div>
                    <p>Planes</p>
                </div>
                <div class="cuenta" (click)='cambiarVista("Cuenta")'>
                    <div>
                        <mat-icon>star</mat-icon>
                    </div>
                    <p>Cuenta</p>
                </div>
            </div>
        </div>
        <div class="content">
            <h1>Plan de Pago</h1>
            <p style="text-align: center;">Las cuotas incluyen el seguro Desgravamen</p>

            <div>
                <table mat-table [dataSource]="dataSource" class="table">
                    <ng-container matColumnDef="nCuota">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Cuota N° </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.nCuota}} </td>
                    </ng-container>

                    <ng-container matColumnDef="TEM">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> TEP </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.tem * 100 | number: '1.4-4'}}% </td>
                    </ng-container>

                    <ng-container matColumnDef="saldoInicial">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Saldo Inicial </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.saldoInicial | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="interes">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Intereses </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.interes | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cuota">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Cuota </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.cuota | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amortizacion">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Amortizacion </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.amortizacion | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="riesgo">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Seguro de Riesgo </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.seguroRiesgo | number:'1.2-3'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="desgravamen">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Seguro Desgravamen </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.seguroDesgravamen | number:'1.2-3'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="portes">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Portes </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.portes | number:'1.2-3'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="comision">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Comisión </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.comision | number:'1.2-3'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="saldoFinal">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Saldo Final </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.saldoFinal | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="flujo">
                        <th mat-header-cell *matHeaderCellDef class="columnName"> Flujo </th>
                        <td mat-cell *matCellDef="let cuota" class="column"> {{cuota.flujo | number:'1.2-2'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons aria-label="q"></mat-paginator>
            </div>
            <h1>Indicadores Financieros</h1>
            <h3>Tasa de Descuento: {{tasaDescuento * 100}}%, VAN: {{van}} , TIR: {{tir * 100}}%</h3>
        </div>
    </div>
</div>